{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
  <h1 align="center">Sign Up</h1>
  <p> Sign up as:</p>
  <a href="{{ url_for('auth.register', user_role='admin') }}">Admin</a>
  <a href="{{ url_for('auth.register', user_role='trainer') }}">Trainer</a>
  <a href="{{ url_for('auth.register', user_role='member') }}">Member</a>

  {% if user_role %} 
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.first_name.label }}
        {{ form.first_name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.last_name.label }}
        {{ form.last_name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
      </div>
      
      {% if user_role == "member" %}
        <div class="form-group"> 
          {{ form.goal_weight.label }}
          print("Member is the user role")
          {{ form.goal_weight(class="form-control") }}
        </div>
        <div class=""form-group>
          {{ form.goal_date.label }}
          {{ form.goal_date(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.height.label }}
          {{ form.height(class="form-control") }}
        </div>
      {% endif %}
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  {% endif %}
{% endblock %}
