{% block content %}
    <form method="GET">
      <select name="user-role" id="user-role" onchange="this.form.submit()">
        <option value = "" disabled selected>Select Your Role</option>
        <option value="admin">Admin</option>
        <option value="trainer">Trainer</option>
        <option value="member">Member</option>
    </form>

    {% if form %} 
      <form method="POST">
        {{ form.hidden_tag() }}
        <h3 align="center">Sign Up</h3>
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(class="form-control") }}
          <!-- {{ form.username.errors }} -->
        </div>
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class="form-control") }}
          <!-- {{ form.email.errors }} -->
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class="form-control") }}
          <!-- {{ form.password.errors }} -->
        </div>
        <div class="form-group">
          {{ form.confirm_password.label }}
          {{ form.confirm_password(class="form-control") }}
          <!-- {{ form.confirm_password.errors }} -->
        </div>
        
        {% if user-role == "member" %}
          <div class="form-group"> 
            {{ form.goal_weight.label }}
            {{ form.goal_weight(class="form-control") }}
            <!-- {{ form.goal_weight.errors }} -->
          </div>
          <div class=""form-group>
            {{ form.goal_date.label }}
            {{ form.goal_date(class="form-control") }}
            <!-- {{ form.goal_date.errors }} -->
          </div>
          <div class="form-group">
            {{ form.height.label }}
            {{ form.height(class="form-control") }}
            <!-- {{ form.height.errors }} -->
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

{% endblock %}