{% extends "base.html" %}
{% block title %}Schedules{% endblock %}
{% block content %}

<h3 class="display-4 py-3 mx-auto">Schedules</h3>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('schedule.show_schedule', start_time_str=schedule.start_time) }}">Schedule {{ loop.index }}</a></td>
            <td>{{ schedule.start_time.strftime('%d %B, %Y, %H:%M') }}</td>
            <td>{{ schedule.end_time.strftime('%d %B, %Y, %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('schedule.new_schedule') }}" role="button">Create new Schedule</a>

{% endblock %}