{% extends 'base.html' %}
{% block title %} {{ member['first_name'] }} {{ member['last_name'] }} {% endblock %}

{% block content %}
<h3 class="display-4 py-3 mx-auto">{{ member['first_name'] }} {{ member['last_name'] }}'s Payments Page</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h5 class="display-5 py-3 mx-auto"> {{form.unpaid_sessions.label}}</h5>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ billing_subform.session_id.label }}</th>
                        <th>{{ billing_subform.session_name.label }}</th>
                        <th>{{ billing_subform.pricing.label }}</th>
                        <th>{% if is_member %} 
                                {{ billing_subform.payment_choice.label }}
                            {% else %}
                                Do you want to write off the bill for this Session?
                            {% endif %}
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for subform in form.unpaid_sessions %}
                        {{ subform.hidden_tag() }}
                        <tr class="unpaid {{ loop.index }}">
                            <td>{{ subform.session_id(class="form-control", disabled=true, style="caret-color: transparent;") }}</td>
                            <td>{{ subform.session_name(class="form-control", disabled=true, style="caret-color: transparent;") }}</td>
                            <td>{{ subform.pricing(class="form-control pricing", disabled=true, style="caret-color: transparent;") }}</td>
                            <td>{{ subform.payment_choice(class="form-control payment-choice", value="False") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div>
                Amount to be {% if is_member %} paid{% else %} written off{% endif %}: 
                <span class="displayTotal"></span>
            </div>
            {% if is_member %}
                {{ form.submit(class="btn btn-primary submitbutton") }}
            {% else %}
                {{ form.submit(class="btn btn-primary submitbutton", value="Write off") }}
            {% endif %}
        </div>
    </form>
    <h5 class="display-5 py-3 mx-auto"> Paid Sessions</h5>
    <table class="table table-bordered">
        <thead class="bg-success text-white">
            <tr>
                <th>{{ billing_subform.session_id.label }}</th>
                <th>{{ billing_subform.session_name.label }}</th>
                <th>{{ billing_subform.pricing.label }}</th>
            </tr>
        </thead>
        <tbody>
            {% for paid_session in paid_session_data %}
            <tr>
                <td>{{ paid_session.session_id }}</td>
                <td>{{ paid_session.session_name }}</td>
                <td>{{ paid_session.pricing }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        let isMember = "{{is_member}}";
        let submitButton = document.querySelector('.submitbutton');
        if (isMember === 'True') {
            submitButton.addEventListener('click', askForCardDetails);
        }
        const unpaidRows = Array.from(document.querySelectorAll('.unpaid'));
        let displayTotalElement = document.querySelector('.displayTotal')
        let displayTotalValue = "CAD 0";
        displayTotalElement.textContent = displayTotalValue;
        let priceChoicePairs = unpaidRows.map(row => [...row.getElementsByClassName('pricing'), ...row.getElementsByClassName('payment-choice')]);
        priceChoicePairs.forEach( function([priceElement, paymentChoiceElement]) {
            paymentChoiceElement.addEventListener('change', calculateTotal);
        });

        function askForCardDetails(e) {
            prompt("Please enter your credit card details (not a scam I promise):");
        }

        function calculateTotal(e) {
            let total = 0;
            for (let i = 0; i < priceChoicePairs.length; i++) {
                if (priceChoicePairs[i][1].value === "Yes") {
                    total = total + priceChoicePairs[i][0].valueAsNumber;
                }
            }
            total = Math.round(total * 100) / 100
            displayTotalElement.textContent = `CAD ${total}`;
        }
    </script>
{% endblock %}